.wrapper {
  position: absolute;
  inset: -30%;
  top: 10%;

  display: flex;
  flex-direction: column;

  gap: clamp(-10px, 25vw, 80px);

  overflow: hidden;
  pointer-events: none;

  transform: rotate(-8deg);

  z-index: 0;
}

.row {
  overflow: hidden;
}

.track {
  display: flex;
  width: max-content;

  will-change: transform;
}

.track span {
  flex-shrink: 0;

  padding-right: 120px;

  font-family: var(--font-bold);
  font-size: clamp(64px, 9vw, 150px);
  font-weight: 900;
  line-height: 0.8;

  letter-spacing: -0.05em;
  text-transform: uppercase;
  white-space: nowrap;
}